/*universal styles*/

html,body{
	margin: 0;
	height: 100%;
	width: 100%;
	color: #152022;
}


html{
	background-color: #124F70;
	background-image: linear-gradient(
		to right,
		#124F70, #092838);
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
#video{
    min-height: 100%;
    

    
}

.intro,.work{
	width: 85%;
	max-width: 1640px;
	margin: 0 auto;

}

h1,h2,h3,.inline-brand{
	font-family: franklin-gothic-atf, sans-serif;
}

h1{
	font-size: 85px;
	line-height: 84px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: 700;
}

h2{
	font-size: 74px;
	font-weight: 500;
}

h3{
	font-size: 33px;
	font-weight: 500;
}

p{
	font-size: 24px;
	line-height: 40px;
	font-family: 'Georgia', serif;
}

.inline-brand{
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.25px;
}

a{
	text-decoration: none;
	color: inherit;
}

a:visited{
	color: #FFFbf8;
}

@media screen and (max-width: 1590px){

	h1{
		font-size: 70px;
		line-height: 60px;
	}

	h2{
		font-size: 50px;
	}

	h3{
		font-size: 24px;
	}

	p{
		font-size: 18px;
	}
}

@media screen and (max-width: 500px){
	
  h1{
  	font-size: 33px;
	line-height: 30px;
	text-align: left;
	margin: 0 auto;
}
  h2{
  	font-size: 27px;
  }

  h3{
  	font-size: 18px;
  }

  p{
  	font-size: 18px;
  }
}

/*hero styles*/

nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

ul{
	margin-bottom: 0;
}
li{
	display: inline-block;
	color: #FFFbf8;
	padding: 0 22.5px;

}

li h3{
	margin-bottom: 0;
}

.hero{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 100%;
	padding: 0 7.5%;
}

.logo{
	width: 10%;
	margin-top: 60px;

}

.banner{
	box-sizing: border-box;
	background-color: #FFFbf8;
	box-shadow: black 22px 11px 45px;
	padding:0 61px;
	background-image: linear-gradient(
		to right,
		#f8f4f0, #fffbf8);
}

.hero-banner{
	width: 536px;
	position: absolute;
	right: 7.5%;
	top: 42%;
	height: 713px;

}

.hero-banner-mobile{
	display: none;
	width: 100%;
	color: #FFFbf8;
	text-align: center;
	margin-top: 67px;

}


.hero-banner:hover{
	transform: translateY(-20px);
}

button{
	color: #FFFbf8;
	background-color: #E6021A;
	border: none;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	border-radius: 10px;
}

button h3{
	margin: 0;
}


@media screen and (max-width: 1590px){

	nav{
		flex-direction: column;
		align-items: center;
	}

	.logo{
		width: 25%;
		max-width: 230px;
	}

	.hero-banner{
		position: inherit;
        display: flex;
        flex-direction: column;
        margin: 100px auto 0;
        height: 500px;
        width: 600px;
	}

	.hero-banner .inline-brand{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 750px){

	.hero-banner{
		width: 100%;
	}
}


@media screen and (max-width: 500px){
	

	nav{
		justify-content: center;
		align-items: center;
	}
    
    .logo{
        width: 40%;
	}

	nav li,nav ul, .hero-banner{
		display: none;
	}

	.hero-banner-mobile{
		display: flex;
		flex-direction: column;
	}

	.mobile-phone, .hero-banner-mobile p{
		margin-top: 33px;
		margin-bottom: 0;
	}

	button{
		margin-top: 33px;
		width: 100%;
	}
}


/*intro style*/

.intro{
	color: #FFFbf8;
	margin-top: 262px;
}


.intro img{
	display: inline-block;
	width: 53%;
	position: relative;
	right: 160px;
}

.intro p{
	display: inline-block;
	width: 600px;
	vertical-align: top;

}

.mobile-menu{
	display: none;
}

img.alt-img{
	display: none;
}

@media screen and (max-width: 1590px){
 
    .intro img{
    	display: none;
    }
    img.alt-img{
	display: inline-block;
    position: absolute;
    width: 70%;
    right: -140px;
    transform: rotate(68deg) translateX( 100px);
    }
}

@media screen and (max-width: 1100px){
	img.alt-img{
		display: none;
	}
}

@media screen and (max-width: 500px){
    
    .intro{
    	margin-top: 50px;
    }

	.intro h2, .intro img{
		display: none;
	}

	.mobile-menu{
        display: inherit;
        color: #124F70;
	}

	.mobile-menu h2{
		display: block;
		height: 60px;
		margin-top: 12px;
		margin-bottom: 0;
		background-color:#FFFbf8;
		padding-left: 40px;
		padding-top: 20px;
	}

	.mobile-menu a:visited{
		color: inherit;

	}

	.intro p{
		font-size: 18px;
		width: 100%;
		margin-top: 64px;
	}
}


/*services styles*/

.services-banner{
	width: 470px;
	height: 772px;
	display: inline-block;
	vertical-align: top;
	margin-top: 154px;
	margin-left: 7.5%;
}

.services img{
	display: inline-block;
	position: relative;
	width: 56%;
	float: right;
}

@media screen and (max-width: 1355px){

	.services-banner{
		height: inherit;
	}
	.services img{
		display: block;
		float: none;
		width: 85%;
		height: 500px;
		margin: 35px 7.5% 35px; 
	}
     
}

@media screen and (max-width: 500px){

	.services-banner{
		width: 100%;
		height: 374px;
		text-align: center;
		margin: 50px 0 0;
	}

	.services h2{
		margin-top: 96px;
	}

	.services img{
		display: none;
	}
}
/*work styles*/

.work{
	color: #FFFbf8;
}

.work-grid{
	display: grid;
	width: 100%;
	height: 828px;
	grid-template: repeat(6, 1fr)/ repeat(12, 1fr);
}

.work h2{
	text-align: center;
	min-width: 0;
	margin-top: 150px;
	margin-bottom: 100px;
}

.work p.info{
	grid-area: 2/7/span 1/span 5;
	min-width: 0;
}

.work p.link{
	grid-area: 4/11/span 1/span 2;
	min-width: 0;
}

.work .before{
	grid-area: 1/1/span 4/ span 5;
	width: 100%;
}

.work .after{
	background-image: url(../images/after.png);
	background-size: cover;
	grid-area: 3/4/span 4/ span 6;
	min-width: 0;
	width: 100%;
}

@media screen and (max-width: 1240px){

    .work-grid{
		display: block;
		height: 637px;
	}

	.work h2{
		margin-top: 97px;
		margin-bottom: 25px;
	}

	.work p{
		margin-top: 44px;
	}

	.work img{
		height: 500px;
	}

}


@media screen and (max-width: 500px){

	.work-grid{
		display: block;
		width: 100%;
		height: 100%;
	}

	.work h2{
		margin-top: 97px;
		margin-bottom: 25px;
	}

	.work .before{
		height: inherit;
	}

	.work p{
		margin-top: 44px;
	}
	}

/*supplies styles*/

.supplies{
	color: #FFFbf8;
}

.supplies h2{
	padding: 0 7.5%;
	margin-top: 150px;
	margin-bottom: 100px;
}

.supplies img{
	min-width: 0;
	max-width: 80%;
	margin: 0 25px;
}

.supplies-banner{
	height: 213px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 500px){

	.supplies{
		display: none;
	}
	}
/*about styles*/

.about{
	display: grid;
	margin-top: 165px;
	width: 100%;
	height: 1090px;
	grid-template: repeat(6, 1fr)/ repeat(12, 1fr);
}

.profile{
	grid-area: 2/1/span 5/span 12;
	background-image: url(../images/profile.png);
	background-size: cover;

}

.mobile-profile{
    display: none;
}

.about-banner{
	padding-top: 25%;
	grid-area: 1/8/span 5/ span 4;
}

@media screen and (max-width: 500px){

	.about{
		display: block;
		height: 711px;

	}

	.about-banner{
		padding: 46px 0 36px;
	}

	.about-banner h2{
		text-align: center;
	}

	.about-banner h2, .about-banner h3, .about-banner p{
		padding: 0 7.5%;
	}

	.mobile-profile{
		display: inherit;
		width: 100%;
	}
}
/*reviews styles*/

.reviews-banner{
	margin-top: 165px;
	height: 610px;
	text-align: center;
	padding-top: 54px;
}

.reviews-container{
	display: flex;
	justify-content: space-around;
}

.review{
	background-color: white;
	display: inline-block;
	height: 212px;
	width: 470px;
}

.alt-heading{
	display: none;
}

@media screen and (max-width: 500px){

	.large-heading{
		display: none;
	}

	.alt-heading{
		display: inherit;
		color: #FFFbf8;
	}

	.reviews-container{
		flex-direction: column;
		align-items: center;
	}

	.reviews-banner{
		background-color: transparent;
		box-shadow: none;
		margin-top: 0;
		background-image: none;
		height: 100%;
	}

	.review{
		width: 100%;
		margin-top: 30px;
	}

}
/*contact styles*/

.contact{
	box-sizing: border-box;
	background-image: url(../images/contact.png);
	height: 578px;
	color: #FFFbf8;
	text-align: center;
	margin-top: 165px;
	padding-top: 95px;
}

.contact h3{
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
	vertical-align: center;
	line-height: 90px;

}
/*footer styles*/

footer{
	background-color: #152022;
	height: 208px;
	padding: 0 7.5% 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

footer img{
	display: inline-block;
	width: 160px;
}


@media screen and (max-width: 500px){

	footer{
		height: 320px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	footer ul, footer li{
		padding: 0;
	}
}











